@media screen and (min-width: 992px) and (max-width: 1199px) {

    .leftWidget,
    .centenrWidget,
    .rightWidget {
        padding: 10px;
    }

    ul.customMenu li a {
        padding: 13px 10px;
    }

    ul.Categoriescard h3 {
        font-size: 14px;
        line-height: 16px;
    }

    .mesgcard .img {
        right: 5px;
    }
}

@media screen and (max-width: 991px) {
    ul.Categoriescard {
        margin-bottom: 15px;
    }

    .leftWidget,
    .centenrWidget,
    .rightWidget {
        padding: 10px;
    }

    .mesgcard .img {
        right: 5px;
    }

    ul.customMenu li:last-child {
        position: static;

    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 10px;
    }

    ul.customMenu {
        position: fixed;
        background: #ffff;
        z-index: 999;
        padding: 10px;
        top: 0;
        left: 0;
        height: 100%;
        overflow: auto;
        width: 200px;
        display: none;

    }

    .close-btn {
        text-align: right;
        color: #172231;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
    }
}

@media screen and (max-width: 767px) {



    .onmobiletop {
        order: 2;
    }

    .onmobilelast {
        order: 3;
    }

    .messagebox a {
        margin-bottom: 30px;
    }

    .leftWidget {
        padding: 10px 6px;
        border-bottom: 1px solid #ffffff29;
    }

    .auctionInner {
        padding: 20px 0px;
    }

    .graphblock h5 {
        padding: 20px 0px;
    }

    ul.Categoriescard h3 {
        font-size: 12px;

    }

    ul.Categoriescard p {
        font-size: 12px;

    }

    .title_block h3,
    .graphblock h5 {
        font-size: 20px;
        line-height: 24px;

    }

    .messagebox li {
        padding: 10px 0px;

    }

}

@media screen and (max-width: 444px) {

    .centenrWidget .title_block.top-title ul li {
        margin-top: 15px;
        width: 100%;
    }

    .centenrWidget .title_block form input[type="text"] {
        width: 100%;
    }
}